@model DreamCrusher.Models.Reports

@{
    ViewBag.Title = "CourseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #videoBox .coursesImg {
        height: 154px;
        width: 100%;
    }

    #videoBox .courseLink {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">My Courses</h5>
                        @*<button class="btn btn-light repeater-add-btn px-4">Add</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        @if (Model != null)
        {
            if (Model.lstCourse != null)
            {
                int i = 1;
                foreach (var Item in Model.lstCourse)
                {
                    <div class="col-12 col-lg-12 col-xl-3">
                        <div class="card">
                            <div class="card-body" id="videoBox">
                                <h5 class="mb-3"> <i class="bx bx-book-reader"></i> @Item.CourseName</h5>
                                <img src="@Item.CourseImage" class="img-fluid rounded mb-3 coursesImg" />
                                <div type="button" class="btn btn-light mb-2 position-relative">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" class="img-fluid w-25 position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#@Item.CourseID" />
                                    <iframe width="100%" height="100%" src="@Item.CourseLink" title="YouTube video player" frameborder="0"></iframe>
                                </div>
                                @*<ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <a href="@Item.CourseLink" class="text-white courseLink" target="_blank" >@Item.CourseLink</a>
                                        </li>
                                    </ul>*@


                                @* modal video *@
                                <div class="col">
                                    <!-- Modal -->
                                    <div class="modal fade" id="@Item.CourseID" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Wacth This Video</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe width="100%" height="400px" src="@Item.CourseLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                </div>
                                                @*<div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
