@model DreamCrusherMLM.Models.Reports

@{
   
    Layout = null ;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Tax Invoice</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.min.js"></script>
     
    <link type="text/css" rel="stylesheet" href="../../AssociatePanelcss/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="tax-invoice-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered zestier">
                            <thead>
                                <tr>
                                    <th style="width:30%"><img src="~/WebsiteCss/images/logo.png" class="img-fluid" alt="logo" style="width:60%;height:50%"> </th>
                                    <th style="width: 40%;">
                                        <div class="addres-details text-center">
                                            <p class="text-center"><strong>@ViewBag.CompanyName</strong></p>
                                            <p>@ViewBag.CompanyAddress</p>
                                            <p><strong>E-mail :</strong> @ViewBag.Email</p>
                                            <p><strong>Contact No.:</strong>@ViewBag.Phone</p>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                        <table class="table table-bordered zestier">
                            <tbody>

                                <tr class="descript">
                                    <td colspan="2"><strong>Details</strong></td>

                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="gstin">
                                            <p><strong>Name :</strong> @Model.DisplayName</p>
                                            <p><strong>Login ID :</strong>@Model.LoginId</p>
                                            <p><strong>From / To Date :</strong>@Model.FromDate - @Model.ToDate</p>
                                            <p><strong>Payout No :</strong>@Model.PayoutNo</p>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered zestier">
                            <tbody>
                                <tr class="descript">
                                    <td class="text-center" colspan="2"><strong>Income</strong></td>
                                    <td colspan="2" class="text-center">Deduction</td>
                                </tr>
                                <tr class="descript">
                                    <td>Description</td>
                                    <td>Amount</td>
                                    <td>Description</td>
                                    <td>Amount</td>
                                </tr>
                                <tr class="descript">
                                    <td><strong>Direct Income</strong></td>
                                    <td>@Model.DirectIncome</td>
                                    <td>TDS Amount (@ViewBag.TDSPercent)</td>
                                    <td>@Model.TDSAmount</td>
                                </tr>
                                <tr class="descript">
                                    <td>Harmony Income</td>
                                    <td>@Model.BinaryIncome</td>
                                    <td>Processing Fee (5%)</td>
                                    <td>@Model.ProcessingFee</td>
                                </tr>
                                <tr class="descript">
                                    <td>Direct Leadership Bonus</td>
                                    <td>@Model.LeadershipBonus</td>
                                    <td>Product Wallet (5%)</td>
                                    <td>@Model.ProductWallet</td>
                                </tr>
                                <tr class="descript">
                                    <td>Gross Income</td>
                                    <td>@ViewBag.Income</td>
                                    <td>Gross Deduction</td>
                                    <td>@ViewBag.Deduction</td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table table-bordered zestier">
                            <tbody>
                                <tr class="descript">
                                    <td class="text-center"><strong>Gross Income - Gross Deduction</strong></td>
                                    <td class="text-center"><strong>Net Amount</strong></td>
                                </tr>
                                <tr class="descript">
                                    <td class="text-center">@ViewBag.Income - @ViewBag.Deduction</td>
                                    <td class="text-center">@ViewBag.NetIncome</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>


    <form action="" id="form1" method="post">
        <table border="1" style="width:100%">
            <tr>
                <td colspan="11" style="text-align:center">
                    <h1>@ViewBag.CompanyName</h1>
                    <h3>@ViewBag.CompanyAddress</h3>
                    <h3>Phone : @ViewBag.LandLine</h3>
                </td>
                <td colspan="3" style="text-align:right; padding-right:20px">
                    <img src="~/WebsiteCss/images/logo.png" height="150" width="150" />
                </td>
            </tr>
            <tr>
                <td colspan="14" style="text-align:center">
                    <h3>TAX INVOICE</h3>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    To,<br />
                    @ViewBag.Name (@ViewBag.Loginid)<br />
                    @ViewBag.AssociateAddress
                </td>
                <td colspan="10">
                    Invoice No : @ViewBag.OrderNo<br />
                    Invoice Date : @DateTime.Now.ToString("dd/MM/yyyy")
                </td>
            </tr>
            <tr>
                <td>SNo</td>

                <td colspan="4">Product Name</td>
                <td colspan="4">HSN Code</td>
                @*<td colspan="2">Batch No</td>*@
                <td>SGST</td>
                <td>CGST</td>
                <td>IGST</td>
                <td colspan="2">Qty</td>
            </tr>
            @if (Model != null)
            {
                if (Model.lsttopupreport != null)
                {
                    int i = 1;
                    foreach (var Item in Model.lsttopupreport)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td colspan="4">@Item.ProductName</td>
                            <td colspan="4">@Item.HSNCode</td>
                            @*<td colspan="2">@Item.BatchNo</td>*@
                            <td>@Item.SGST</td>
                            <td>@Item.CGST</td>
                            <td>0</td>
                            <td colspan="2">@Item.Quantity</td>
                        </tr>
                        i++;
                    }
                }
            }
            <tr>
                <td colspan="14">
                    Remarks :
                </td>
            </tr>
            <tr>
                <td colspan="9"></td>
                <td colspan="3">Total</td>
                <td colspan="2">@ViewBag.TotalFinalAmount</td>
            </tr>
            <tr>
                <td rowspan="6" colspan="5">
                    Tax Summary<br />

                </td>
                <td colspan="4"></td>
                <td colspan="3">Less Discount</td>
                <td colspan="2">0.00</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td colspan="3">Total Sale Value before Tax</td>
                <td colspan="2">@ViewBag.ValueBeforeTax</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td colspan="3">Added Tax</td>
                <td colspan="2">@ViewBag.TaxAdded</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td colspan="3">Total Value after Tax</td>
                <td colspan="2">@ViewBag.TotalFinalAmount</td>
            </tr>
            @*<tr>
                    <td colspan="4"></td>
                    <td colspan="3">Total Value before Round Off</td>
                    <td colspan="2">4324.00</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="3">Round Off</td>
                    <td colspan="2">0.00</td>
                </tr>*@
            <tr>
                <td colspan="4"></td>
                <td colspan="3">
                    Grand Total :
                </td>
                <td colspan="2">
                    @ViewBag.TotalFinalAmount
                </td>
            </tr>
            <tr>
                <td colspan="14" style="text-align:right">
                    Total Value (in Words) : @ViewBag.TotalFinalAmountWords
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    Terms & Conditions :
                    <ul>
                        <li>All disputes will be subject to Lucknow jurisdiction</li>
                        <li>Listed above have been received in order and in saleable condition.</li>
                        <li>Payment must be made by Cash/ Demand Draft only in favour of Dream Crusher</li>
                    </ul>
                </td>
                <td colspan="5">
                    <b>Dreamcrusher</b>
                    <br />
                    Authorised Signatory
                </td>
            </tr>
        </table>
    </form>


</body>
</html>

