@model DreamCrusherMLM.Models.Home

@{
    ViewBag.Title = "HighestEarnerClub";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}

<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Dream Crushers Pvt. Ltd</div>
                <h2>Highest Earner Club</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>Highest Earner Club</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container --><table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Login Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Earners Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.listhighestearner != null)
            {
                int i = 1;
                foreach (var Item in Model.listhighestearner)
                {
                    <tr class="text-left">
                        <td>@i</td>
                        <td>@Item.LoginId</td>
                        <td>@Item.Name</td>
                        <td>@Item.GrossAmount</td>
                        <td>
                        <img src="@Item.ProfilePic" width="100" height="50"/>
                        </td>
                    </tr>
                    i++;
                }

            }
        }

    </tbody>
</table>

