@model DreamCrusher.Models.DashBoard
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .tab1{
        background-color:#902a8e;
    }
      .tab2{
           background-color:#38a39d;
    }
        .tab3{
             background-color:#832d38;
    }
     
       

</style>



<div class="page-content">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-0">Dashboard</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">

        <div class="col">
            <div class="card radius-10 tab1">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-white">Total Associates</p>
                            <h4 class="my-1 text-white">@ViewBag.TotalUsers</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white ms-auto">
                            <i class="bx bxs-group"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab2">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-white">Active Users</p>
                            <h4 class="my-1 text-white">@ViewBag.ActiveUsers</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white ms-auto">
                            <i class="bx bxs-group"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-0 text-white">Blocked Users</p>
                            <h4 class="my-1 text-white">@ViewBag.BlockedUsers</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white">
                            @*<i class="lni lni-ban"></i>*@
                            <i class="bx bx-block"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-0 text-white">Today Income</p>
                            <h4 class="my-1 text-white">@ViewBag.TodayIncome</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white">
                            <i class="lni lni-rupee"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab1">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-0 text-white">Last 7 Days Income</p>
                            <h4 class="my-1 text-white">@ViewBag.LastSevenDaysIncome</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white">
                            <i class="lni lni-rupee"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab2">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-0 text-white">Last 30 Days Income</p>
                            <h4 class="my-1 text-white">@ViewBag.LastThirtyDaysIncome</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white">
                            <i class="lni lni-rupee"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 tab2">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-0 text-white">Total Income</p>
                            <h4 class="my-1 text-white">@ViewBag.TotalIncome</h4>
                        </div>
                        <div class="widgets-icons bg-light-transparent text-white">
                            <i class="lni lni-rupee"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-3 d-flex align-items-center">
            <div class="card radius-10 overflow-hidden w-100">
                <div class="card-body">
                    <p class="mb-0 text-white">Associate Details</p>
                    <div id="divusers"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-3 d-flex align-items-center">
            <div class="card radius-10 overflow-hidden w-100">
                <div class="card-body">
                    <p class="mb-0 text-white">Payout Status</p>
                    <div id="divpayout"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-6 d-flex align-items-center">
            <div class="card radius-10 overflow-hidden w-100">
                <div class="card-body">
                    <p class="mb-0 text-white">Business Details</p>
                    <div id="divinvestment"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-6 d-flex align-items-center">
            <div class="card radius-10 overflow-hidden w-100">
                <div class="card-body">
                    <p class="mb-0 text-white">Joining Details</p>
                    <div id="divjoining"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End Row-->
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



