@model DreamCrusher.Models.Reports
@{
    ViewBag.Title = "AssociateListForKYC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("ApproveKYC", "Admin", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Approve Payout Request</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card mt-2">
                <div class="card-body">
                  <br />
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th> Login Id</th>
                                    <th>Name</th>
                                    <th hidden="hidden">Document Number</th>
                                    <th>Account No</th>
                                    <th>IFSC Code</th>
                                    <th>Adhar card</th>
                                    <th>Adhar Card No</th>

                                    <th>Pancard Image</th>
                                    <th>Pancard No</th>
                                    <th>Passbook Image</th>
                                    <th hidden="hidden">Passbook No</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstassociate != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstassociate)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.Name</td>
                                                <td hidden="hidden">@Item.DocumentNumber</td>
                                                <td>@Item.MemberAccNo</td>
                                                <td>@Item.IFSCCode</td>
                                                <td>
                                                    <a href="@Item.AdharImage" target="_blank"><img src="@Item.AdharImage" height="120" width="180" /></a>
                                                </td>
                                                <td>@Item.AdharCardNo</td>

                                                <td>
                                                    <a href="@Item.PancardImage" target="_blank"><img src="@Item.PancardImage" height="120" width="180" /></a>
                                                </td>
                                                <td>@Item.Pancard</td>
                                                <td>
                                                    <a href="@Item.PassportImage" target="_blank"><img src="@Item.PassportImage" height="120" width="180" /></a>
                                                </td>
                                                <td hidden="hidden">@Item.passportNo</td>

                                                <td>@Item.Status</td>
                                                <td>
                                                    @*@Html.ActionLink("Approve","ApproveKYC","Admin",new{@Item.PK_DocumentID,@Item.DocumentType})*@
                                                    <a href="/Admin/ApproveKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" runat="server" class="btn btn-light px-3 pull-right" name="btnUpdate">Approve</a>&nbsp;&nbsp;
                                                    <br />
                                                    <a href="/Admin/RejectKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" class="btn btn-light px-3 pull-right" name="btnUpdate">Reject</a>
                                                </td>
                                            </tr>

                                            i++;
                                        }
                                    }
                                }


                            </tbody>



                            <tfoot>
                                <tr>
                                    <th>Sr No.</th>
                                    <th> Login Id</th>
                                    <th>Name</th>
                                    <th hidden="hidden">Document Number</th>
                                    <th>Account No</th>
                                    <th>IFSC Code</th>
                                    <th>Adhar card</th>
                                    <th>Adhar Card No</th>

                                    <th>Pancard Image</th>
                                    <th>Pancard No</th>
                                    <th>Passbook Image</th>
                                    <th hidden="hidden">Passbook No</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}
