@model DreamCrusher.Models.Reports
@{
    ViewBag.Title = "DirectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DirectList", "Downline", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    

            <div class="page-content">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Direct List</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row g-3">


                                    <div class="col-md-3">
                                        <label class="form-label"> Name </label>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">From Date  </label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">To Date  </label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Leg</label>
                                        @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlleg, "Value", "Text"), new { @class = "form-control form-select" })

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Status</label>
                                        @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlStatus, "Value", "Text"), new { @class = "form-control form-select" })

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label d-block">&nbsp;</label>
                                            <input type="submit" id="btnSearch" class="btn btn-light px-3" name="Search" value="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sr No.</th>
                                                <th>LoginId</th>
                                                <th>Name</th>
                                                <th hidden="hidden">Mobile No</th>
                                                <th hidden="hidden">Email Id</th>
                                                <th>Leg</th>
                                                <th>Joining Date</th>
                                                <th>Package</th>
                                                <th hidden="hidden">Activation Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstassociate != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.lstassociate)
                                                    {
                                                        <tr class="text-left">
                                                            <td>@i</td>

                                                            <td>@Item.SponsorId</td>
                                                            <td>@Item.SponsorName</td>

                                                            <td hidden="hidden">@Item.Mobile</td>
                                                            <td hidden="hidden">@Item.Email</td>
                                                            <td>@Item.Leg</td>
                                                            <td>@Item.JoiningDate</td>
                                                            <td>@Item.Package</td>
                                                            <td hidden="hidden">@Item.PermanentDate</td>
                                                            <td>@Item.Status</td>

                                                        </tr>
                                                        i++;
                                                    }

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


}

            <script src="../../vendor/jquery/jquery.min.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
            <script>

                $('#FromDate').datepicker({
                    dateFormat: 'dd/mm/yy', 
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
                $('#ToDate').datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
            </script>

            <script>
                $(document).ready(function () {
                    $('#dataTables-example').DataTable({
                        responsive: true
                    });
                });
            </script>

