@model DreamCrusher.Models.Master

@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("CourseList", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
<div class="page-content">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">/ Master / Course List</h5>
                        <a class="btn btn-light repeater-add-btn px-4" href="/Master/CourseMaster">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Course Name</th>
                                    <th>Course Image</th>
                                    <th>Course Link</th>
                                    <th>Title</th>
                                    <th>Course Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstCourse != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstCourse)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.CourseName</td>
                                                <td><img width="100" height="100" src="@Item.CourseImage"/></td>
                                                <td>@Item.CourseLink</td>
                                                <td>@Item.Title</td>
                                                <td>@Item.CourseDate</td>
                                                <td>
                                                    <a href="/Master/CourseMaster?CourseID=@Item.CourseID" class="btn btn-info btn-sm">Edit</a>
                                                    <a href="/Master/DeleteCourse?id=@Item.CourseID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Course?');" name="btnDelete">Delete</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}